langchain
langchain-community
langchain-huggingface
langgraph
faiss-cpu
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
pydantic
langchain-google-genai
ipykernel
sentence-transformers
pypdf
rank_bm25
pymupdf4llm
docling
accelerate
torch
transformers
langchain-docling